<div class="main-container">
  <div style="display: flex; flex-direction: row; gap: 10px">
    <div style="display: flex; flex-direction: column">
      <div style="display: flex; flex-direction: row; gap: 10px">
        <div class="left-container">
          <app-linechart-with-export />
          <app-bar-chart />
        </div>
        <div class="right-container">
          <app-card-data
            [headerText]="'Texto de indicadores'"
            [percentage]="'$5,29%'"
            [description]="'Rendimiento del mes'"
          >
          </app-card-data>
          <app-linechart-with-value
            [backgroundColor]="'#A3D5EB'"
            [colorLine]="'#A1E6BD'"
            [colorNumbers]="'black'"
          />
          <app-linechart-with-value
            [chartId]="'unique-chart'"
            [backgroundColor]="'black'"
            [colorLine]="'#95C9E0'"
            [colorNumbers]="'white'"
          />
        </div>
      </div>
      <div
        style="display: flex; flex-direction: row; gap: 10px; margin-top: 20px"
      >
        <div style="width: 30%">
          <app-panel-menu />
        </div>
        <div style="width: 70%">
          <app-table-data />
        </div>
      </div>
    </div>
  </div>
</div>
