<p-card>
  <div class="card-content" [style.background-color]="backgroundColor">
    <div style="display: flex; flex-direction: column; justify-content: center">
      <p [style.color]="colorNumbers">Indicator</p>
      <h1 class="m-0" [style.color]="colorNumbers"><strong>$43.98</strong></h1>
    </div>
    <ngx-charts-area-chart
      [id]="chartId"
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="true"
    >
    </ngx-charts-area-chart>
  </div>
</p-card>
