<p-toolbar class="main-header">
  <app-sidebar />
  <div class="p-toolbar-group-start">
    <span class="p-ml-2">Dashboard</span>
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      icon="pi pi-search"
      styleClass="p-button-rounded p-button-text"
    ></p-button>
    <p-button
      icon="pi pi-bell"
      styleClass="p-button-rounded p-button-text p-ml-2"
    ></p-button>
    <p-button
      icon="pi pi-user"
      styleClass="p-button-rounded p-button-text p-ml-2"
    ></p-button>
  </div>
</p-toolbar>
